-
    var aboutlist = [
        'Організація онлайн-конференцій.',
        'Організація відео-селекторної наради.',
        'Організація вебінарів та веб-трансляції через YouTube та Facebook.',
        'Відображення презентаційних матеріалів.',
        'Організація відео та аудіо запису засідань та нарад.',
        'Студійний монтаж запису заходу.',
        'Технічне забезпечення практичних заходів з використанням комп’ютерів (практичні заняття, перевірка знань тощо).'
        ]
-
    var equipmentlist = [
        'інтерактивна дошка (діагональ 1,8 метрів)',
        'проекційний екран (діагональ 7,5 метрів)',
        'мультимедійний проектор','фліпчарт',
        'LCD телевізор 42” на стійці',
        '15 ноутбуків та стаціонарний комп’ютер лектора, з’єднаних системою лектор-студент',
        'пристрій для передачі цифрового сигналу на будь-який монітор чи пристрій відображення',
        'система конференц зв’язку на 11 місць',
        'радіо-мікрофони','мікшерний пульт','три поворотні USB камери (HD, FullHD)',
        'камера репортажна','квадро аудіо-система для запису чи трансляції звука з будь-якої точки конференц-залу без використання ручних мікрофонів',
        'все обладнання супроводжується відповідними дротами'
        ]

doctype html
html(lang="uk")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="shortcut icon", href="img/icons/5pl.ico", type="image/x-icon")
        meta(name="description", content="Інформаційна площадка 5ЗД для проведення засідань, нарад та інших форматів зустрічей")

        meta(name="robots" content="noindex, nofollow")
        meta(name="author" content="Стас Погребняков")

        link(rel="stylesheet", href="css/style.css")
        title IНФОРМАЦІЙНА ПЛОЩАДКА 5PL
    body
        header.header
            .container.header__container
                a.noAfter(href='http://www.5pl.com.ua/'): img.header__logo(src='img/logo.png', alt='logo')
                .header__location
                    p: nobr
                        b Навчальний центр «5PL»
                        br
                        | вул. Костянтинівська 2а, 3 поверх
                a.header__tel.tel(href='tel:0442306013'): nobr (044) 230-60-13
                a.header__app(href='#'): nobr ПОДАТИ ЗАЯВУ

        section.about
            .container.about__container
                h1.about__title IНФОРМАЦІЙНА ПЛОЩАДКА 5PL ДЛЯ ПРОВЕДЕННЯ ЗАСІДАНЬ, НАРАД ТА ІНШИХ ФОРМАТІВ ЗУСТРІЧЕЙ З НАСТУПНИМИ МОЖЛИВОСТЯМИ
            .about__layer
                .container
                    ul
                        each val in aboutlist
                            li= val
                    h3.about__subtitle Додаткові можливості інформаційної площадки
                    ul
                        li Проведення інтев’ю професійними журналістами протягом подій.
                        li Зйомка та створення професійних відео-роликів з елементами анімації.

        section.features
            .container.features__container
                h2.features__title ХАРАКТЕРИСТИКИ КОНФЕРЕНЦ-ЗАЛИ
                .d-flex
                    .features__abstractElements.abstractElements
                        .abstractElements__item1
                        .abstractElements__item2
                        .abstractElements__item3
                    .features__content
                        p.features__text Просторий, світлий і сучасний конференц-зал 60 м2 в центрі столиці - БЦ Самсон (1 хв. від ст. метро Контрактова Площа). Відмінна локація, розвинена інфраструктура, а також велика кількість інших переваг сприятимуть проведенню вашого заходу на найвищому рівні! Передбачена окрема зона для кава-брейків.
                        div.slider.features__slider
                            //-img(src='img/slider/1.jpg', alt='slider')
                            div.preload__img
                            div.slider__content(style='background-image: url(img/slider/1.jpg)')

        section.equipment
            .equipment__layer
                .container.equipment__container
                    .equipment__abstractElement1
                    h2.equipment__title ТЕЧНІЧНЕ ОСНАЩЕННЯ КОНФЕРЕНЦ-ЗАЛУ
                    ul
                        each val in equipmentlist
                            li= val

        section.variables
            .container
                h2.variables__title ВАРІАНТИ РОЗТАШУВАННЯ В АУДИТОРІЇ
                img(src='img/variables.jpg', alt='variables')
                p 15 мобільних столів дають змогу спроектувати різні форми розташування робочих місць в конференц-залі.

        section.services
            .container.services__container
                h2.services__title ПОСЛУГИ ТА ЦІНИ
                .accordion
                    .accordion__item
                        .accordion__header Конференція, тренінг, нарада - 600 грн / год
                        .accordion__content
                            ul
                                li Інтерактивна дошка або великий екран з проектором
                                li Високошвидкісний Інтернет (LAN, Wi-Fi)
                                li Фліп-чарт
                                li Кулер

                    .accordion__item
                        .accordion__header Конференція, тренінг-практикум, майстер-клас - 1200 грн / год
                        .accordion__content
                            ul
                                li Інтерактивна дошка або великий екран з проектором
                                li Високошвидкісний Інтернет (LAN, Wi-Fi)
                                li Фліп-чарт
                                li 15 робочих місць з ноутбуками
                                li Кулер

                    .accordion__item
                        .accordion__header Онлайн-конференція, вебінар, дистанційне навчання - 2000 грн / год
                        .accordion__content
                            ul
                                li Високошвидкісний Інтернет (LAN, Wi-Fi)
                                li Інтерактивна дошка
                                li Фліп-чарт
                                li Організація дистанційних підключень учасників до заходу
                                li Організація онлайн-трансляцій у закритому або відкритому форматі
                                li Організація відео-селекторної наради
                                li Кулер

                    .accordion__item
                        .accordion__header Додаткові послуги:
                        .accordion__content
                            ul
                                li Організація відео та аудіо запису заходів - від 500 грн
                                li Студійний монтаж запису заходу – до стану медійного проекту сформованого до оприлюднення - від 3000 грн
                                li Професійна фотозйомка - від 400 грн
                                li Кава-брейк - від 50 грн за особу

                .services__share
                    img(src='img/icons/handshake.png')
                    p Всім учасникам асоціації Український Логістичний Альянс (УЛА) на всі послуги надається знижка 25%

                a.services__app(href='#'): nobr ПОДАТИ ЗАЯВУ

        footer.footer
            .footer__billet
                h3 Розташування приміщення
                p вул. Костянтинівська 2а,
                    br
                    | 3 поверх (є ліфт), офіс «5PL»

                a.footer__tel.tel(href='tel:0442306013') (044) 230-60-13

                p Робочі дні для організації заходів:#[br]ПН-НД з 9.00 до 20.00
            |
            |
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.7195295048514!2d30.51321281573198!3d50.46494727947738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce6a85595bf5%3A0x39bc9596a2dc7cc4!2z0YPQuy4g0JrQvtC90YHRgtCw0L3RgtC40L3QvtCy0YHQutCw0Y8sIDLQkCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1592247312553!5m2!1sru!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(src='js/main.js')